<footer class="{{ 'lg:fixed' if path == 'home' }} bottom-0 text-center w-full py-4 px-10">
    <small class="text-gray-500">Made in 2024 by 
        <a href="{{settings.url}}" target="_blank" class="underline">{{settings.author}}</a> based on <a href="{{ settings.githubOriginal }}" class="underline" target="_blank" rel="noopener">neat-starter</a>
        •
        <a href="{{ settings.github }}" class="underline" target="_blank" rel="noopener">View on Github</a>
    </small>
</footer>
